.cmsBeTree {

	white-space: nowrap;

	& .-toggle {
		display:inline-block;
		vertical-align:middle;
		width:20px;
	}
	& tbody tr {
		background: #fff;
	}
	& tbody td {
		border: 1px solid #ddd;
		border-width: 1px 1px 1px 0;
	}
	& tbody tr.-isCont {
		font-size:9px;
		background:#f0f0f0;
	}
	& tbody td:has(> input[type=checkbox]) {
		text-align:center;
	}
	u2-ico { --size:20px; }
}
