:host #qgCmsContPosMenu {
  position: fixed;
  inset: auto;
  display: none;
  align-items: center;
  margin: 0;
  padding: .25rem .4375rem .125rem;
  border: 0;
  border-radius: .25rem;
  overflow: visible;
  color: #fff;
  background: var(--cms-color);
  scale: 1.001;
}
:host #qgCmsContPosMenu:popover-open { display: flex; }
:host #qgCmsContPosMenu > button {
  display: grid;
  place-items: center;
  width: 1.125rem;
  height: 1.125rem;
  margin: 1px 1px .125rem;
  padding: 0;
  border: 0;
  color: inherit;
  background: transparent;
  cursor: pointer;
  appearance: none;
}
:host #qgCmsContPosMenu > button[hidden] { display: none; }
:host #qgCmsContPosMenu > button::before {
  content: "";
  width: 1.125rem;
  height: 1.125rem;
  background: currentColor;
}
:host #qgCmsContPosMenu::after {
  content: "";
  position: absolute;
  inset: -.3125rem;
  z-index: -1;
}
:host #qgCmsContPosMenu > .-opts::before { mask: url("img/settings.svg") center / contain no-repeat; }
:host #qgCmsContPosMenu > .-drag::before {
  width: .75rem;
  height: 1.125rem;
  background: radial-gradient(circle, currentColor 2px, transparent 2.1px) 0 0 / 6px 6px;
}
:host #qgCmsContPosMenu > .-drag { cursor: grab; }
:host #qgCmsContPosMenu > .-mod { margin: 1px .3125rem 0 .1875rem; font-size: 13px; }
:host #qgCmsContPosMenu .-offline {
  margin-left: .5em;
  color: var(--cms-access-2);
  animation: cms-inline-pulse .4s linear alternate infinite;
}
:host #qgCmsContTrash {
  position: fixed;
  inset: .5rem auto auto .625rem;
  display: none;
  margin: 0;
  width: 3rem;
  height: 3.5rem;
  padding: .25rem;
  border: 0;
  color: var(--cms-access-2);
  background: transparent;
  filter: drop-shadow(0 0 1px #000);
}
:host #qgCmsContTrash:popover-open { display: block; animation: cms-trash .3s; }
:host #qgCmsContTrash[data-cms-full] { color: var(--cms-color); transform: scale(1.15); }
:host #qgCmsContTrash::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: currentColor;
  mask: url("img/delete.svg") center / contain no-repeat;
}

@keyframes cms-inline-pulse {
  from { opacity: .25; }
  to { opacity: 1; }
}
@keyframes cms-trash {
  50% { transform: scale(1.3); }
}
