:where(#panel) {
  inset:0 0 0 auto;
  height:auto;
  padding:0;
  border:0;
  overflow:visible;
  transform:translateX(100%);
  transition:all .12s ease-in-out;
  will-change:transform, opacity;

  &.-open {
    opacity:1;
  }
  &.-sidebar-open {
    transform:translateX(0%);
  }
  & > .-sidebar {
    background:var(--cms-color);
    box-shadow:0 0 .625rem rgba(0,0,0,.4);
    height:100%;
    overflow:auto;
  }
  & > .-sidebar > .-sensor {
    position:absolute;
    top:0; bottom:0; left:0;
    transform:translateX(-1.25rem);
    width:1.25rem;
  }
  & > .-sidebar > .-item {
    border-bottom:.125rem solid #fff;
  }
  & > .-sidebar > .-item > .-title {
    white-space:nowrap; /* fixes chrome bug */
    display:flex;
    cursor:pointer;
    align-items: center;
    color:#fff;
  }
  & > .-sidebar > .-item > .-title > .-text {
    writing-mode: vertical-lr;
    font-size:1.3em;
    font-weight:bold;
    letter-spacing: .06em;
    padding:.9em;
  }
  & > .-sidebar > .-item > .-title:before {
    content:'';
    position:absolute;
    left:-.75rem;
    border-top: .75rem solid transparent;
    border-bottom: .75rem solid transparent;
    opacity:0;
    will-change:opacity;
    border-right: .75rem solid var(--cms-color);
  }
  & > .-sidebar > .-item.-open > .-title:before {
    opacity:1;
  }
  & > .-sidebar > .-item > .-content {
    display:flex;
    flex-direction:column;
    position:absolute;
    background:#fff;
    right:100%;
    top:0;
    bottom:0;
    box-shadow:0 0 .875rem 0 rgba(0,0,0,.5);
    transform:translateX(120%);
    transition:transform .13s;
    z-index:-2;
    width:46.25rem; /* min-width => bigger if content bigger (not working with max-width) */
    padding:1.875rem;
    box-sizing:border-box;
    max-width:calc(100vw - 100%);
    overflow:auto;
    overscroll-behavior: none;
    will-change: transform;
  }
  & > .-sidebar > .-item > .-content > * {
    flex:0 0 auto;
  }
  & > .-sidebar > .-item.-open > .-content {
    transform:translateX(0);
  }
  & > .-sidebar > .-item.-open > .-title {
    color:var(--cms-dark);
  }

  /* accordion */
  & .-widgetHead {
    display:flex;
    padding:.6em .8em .5em .8em;
    cursor:pointer;
    margin-top:.1875rem;
    transition:all .1s;
    font-size:16px;
    background-color:var(--cms-light);
  }
  & .-widgetHead > .-title {
    flex:1;
  }
  & .-widgetHead::after {
    font-family:'qg_cms';
    content:'\e800';
    display: flex;
    align-items: center;
    padding-left:1.2em;
    font-size:11px;
  }
  & .-widgetHead:first-child {
    margin-top:0;
  }
  & .-widgetHead.-open {
    color:#fff;
    background-color: var(--cms-dark);
  }
  & .-widgetHead.-open::after {
    content:'\e801';
  }

  & .-widgetHead + div {
    border:1px solid var(--cms-light);
    transition-duration: .13s;
    transition-property: max-height, padding;
    max-height:0;
    padding:0 .9375rem;
    overflow:hidden;
  }
  & .-widgetHead.-open + div {
    max-height:90vh;
    padding:.9375rem;
    overflow:auto;
  }
  & .-widgetHead + div[widget=options] { /* phpfile */
    position:relative;
  }
  & .-info {
    font-size:11px;
    border-radius:50%;
    min-width:1.125rem;
    margin-left:.3125rem;
    color:#fff;
    line-height:1.3;
    box-sizing: border-box;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    background:var(--cms-color);
  }

  /* vertical */
  & tr.-vertical > * {
    text-align: center;
    vertical-align: bottom;
    width:1.5rem;
  }
  & tr.-vertical > * > span {
    white-space:nowrap;
    writing-mode: vertical-rl;
  }
  & .-module-boxes {
    display: grid;
    grid-gap: .1875rem;
    grid-template-columns: repeat(auto-fill, minmax(8.75rem, 1fr) ) ;
  }
  & .-module-boxes > div {
    display:flex;
    flex-direction: column;
    cursor:move;
    padding:.625rem;
    color:#fff;
    text-transform:uppercase;
    font-size:10px;
    background-color:var(--cms-light);
    color:var(--cms-dark);
  }
  & .-module-boxes > div:hover {
    box-shadow:0 0 .375rem rgba(0,0,0,.4);
    background-color:var(--cms-dark);
    color:#fff;
  }
  & .-module-boxes .-img {
    width:3rem;
    height:3rem;
    display:block;
    margin:1.25rem auto 1.25rem auto;
    flex:auto;
    fill:currentColor;
  }
  & .-module-boxes .-title {
    hyphens: auto;
  }
  & .-cmsFileList {
    width:100%;
    margin-bottom:.4375rem;
    table-layout:fixed;
  }
  & .-cmsFileList .-preview {
    width:4.375rem;
    height:2.5rem;
    vertical-align:middle;
    cursor:pointer;
  }
  & .-cmsFileList .-preview > img {
    background:#ddd;
  }
  & .-cmsFileList .-link {
    vertical-align:middle;
    white-space:nowrap;
  }
  & .-cmsFileList .-link > a {
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
  }
  & .-cmsFileList .-size {
    text-align:right;
    width:4rem;
    font-size:12px;
    vertical-align:middle;
    white-space: nowrap;
  }
  & .-cmsFileList .-handle {
    width:1.375rem;
    background:center no-repeat url(../img/drag1.svg);
    cursor:n-resize;
  }
  & .-cmsFileList .-delete {
    cursor:pointer;
    width:1.375rem;
    padding-right:.375rem;
    background:center no-repeat url(../img/delete.svg);
  }

}

@media (max-width:53.75rem) {
  #panel > .-sidebar {
    box-shadow:none;
  }
  #panel > .-sidebar > .-item > .-content {
    box-shadow:none;
  }
}
@media (max-width:64rem) {
  #panel > .-sidebar > .-item > .-content {
    padding:0;
  }
  #panel .-standalone {
    padding:.625rem;
  }
  #panel > .-sidebar > .-item {
    width:2.5rem;
  }
  #panel > .-sidebar > .-item > .-title > .-text {
    font-size:1em;
  }
  #panel .-module-boxes > div {
    flex-basis:6.25rem;
  }
  #panel .-module-boxes .-img {
    width:3rem;
    height:3rem;
  }
}
