[qcms-mod="backend.system"] {
  .u2-card {
    flex-basis:28rem;
    flex-grow:0;
  }
  .healty_container {
    display:grid; gap:.5rem;
  }
  .healty_item {
    padding:.5rem;
    background:color-mix(in srgb, var(--gray), #fff 80%);
    border-radius:var(--radius);
    &.-error   { background: color-mix(in srgb, var(--red), #fff 80%); }
    &.-warning { background: color-mix(in srgb, var(--orange), #fff 80%); }
    &.-notice  { background: color-mix(in srgb, var(--blue), #fff 80%); }
    button { background-color: var(--color-text); border-radius: .2rem; margin: 0;  }
  }
}
