.cmsBeTree {

  white-space: nowrap;

  & .-toggle {
    display:inline-block;
    vertical-align:middle;
    width:20px;
  }
  & tbody tr {
    background: #fff;
  }
  & tbody td {
    border: 1px solid #ddd;
    border-width: 1px 1px 1px 0;
    white-space: nowrap;
  }
  & tbody tr.-isCont {
    font-size:9px;
    background:#f0f0f0;
  }
  u2-ico { --size:20px; }

  & tbody tr.-mark { background: #ff09; }
  & tbody tr.-inherited > [v] { color:#000; }
  & tbody tr.-inherited > [v]:after { content:"inh."; }

  & td.-cell {
    cursor:pointer;
    text-align:center;
  }
  & td.-cell[v="1"] { background-color:var(--cms-access-1); }
  & td.-cell[v="2"] { background-color:var(--cms-access-2); }
  & td.-cell[v="3"] { background-color:var(--cms-access-3); }
}

.-access-1-box, .-access-2-box, .-access-3-box {
  display:inline-block; width:30px; height:20px;
}
.-access-1-box { background-color:var(--cms-access-1); }
.-access-2-box { background-color:var(--cms-access-2); }
.-access-3-box { background-color:var(--cms-access-3); }
