body {
  background: var(--cms-background);
  display: grid;
  align-content: center;
  justify-items: center;
  min-height: 100svh;
}

#container {
  background: #fff;
  min-width: min(22rem, 100%);
  max-width: 100%;
  padding: 2rem;
}

#container > h1 {
  text-align: center;
}
