.qgCMS_editmode_switch {
  display:block;
  top:0;
  padding:.625rem 0;
  right:0;
  width:3.125rem;
  text-align:center;
  opacity:0;
  transition:opacity .3s;

  html:hover & { opacity:1; }

  & div {
    width:2rem;
    height:1rem;
    box-sizing: border-box;
    box-shadow:0 0 .375rem rgba(0,0,0,.5);
    border-radius:.625rem;
    background:#fff;
    position:relative;
    margin:auto;
    padding:.125rem;
  }

  & i {
    display: block;
    width:.75rem;
    height:.75rem;
    margin:auto;
    border-radius:50%;
    transition:transform .3s;
    transform-origin:50%;
    transition-property:transform, background-color;
    transform:translateX(-60%);
    will-change:background-color, transform;
    background-color:#222;
  }

  &.-active i {
    background-color: var(--cms-color, #0099ff);
    transform:translateX(60%);
  }

  &.-dev div { background-color:#ff4444; }

  @media (max-width:64rem) {
    width:2.625rem;

    & div {
      width:1.5rem;
      height:.75rem;
      padding:.0938rem;
    }

    & i {
      display: block;
      width:.5625rem;
      height:.5625rem;
    }
  }
}
