.q1Rst {
	font-size:12px;
	font-family:Arial;
	text-shadow:none;
	color:#000;
	font-weight:normal;
	line-height:normal;
	letter-spacing:0;

	& * {
		font-family:inherit;
		color:inherit;
		line-height:inherit;
		text-transform:inherit;
		/* xtext-shadow:initial; stronger then ".qgCMS > .el" ?!?  */
	}

	& h1, & h2, & h3, & h4, & h5, & h6 {
		margin:0 0 .5em 0;
		font-weight: bolder;
	}

	& li { margin:0; }
	& h1 { font-size: 2em; }
	& h2 { font-size: 1.5em; }
	& h3 { font-size: 1.17em; }
	& h4 { font-size: 1em; }
	& h5 { font-size: .83em; }
	& h6 { font-size: .75em; }

	& input,
	& textarea {
		background: #fff;
		border: 1px inset #ccc;
		border-radius:0;
		padding: 1px 0 1px 1px;
		margin: 0;
		vertical-align: baseline;
		width:142px;
		font-size:inherit;
	}

	& select {
		background:#fff;
	}

	& button {
		background:linear-gradient(#fff,#ddd);
		border-radius:3px;
		color:inherit;
		padding:.2em .5em;
		min-height:0;
		font-weight:normal;
		width:auto;
		border:1px solid #aaa;

		&:hover {
			border-color:#666;
		}
		&:active {
			background-image:linear-gradient(#ddd,#fff);
		}
		&[disabled] {
			background-image:linear-gradient(#fff,#eee);
			border-color:#999;
			opacity:.9;
			color:#aaa;
		}
	}

	& input[type=checkbox], & input[type=radio] {
		appearance: auto;
		border: none;
		background:transparent;
		width:auto;
	}

	& img {
		border: 0;
		vertical-align: middle;
	}
}
